body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

html, body, #map {
  height: 100%;
  font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
}



.metaEst {
  border-radius: 5px;
  border: 1px solid black;
}

.ventana {
  border: 2px solid lightblue;
  border-radius: 10px;
}

.ventana2 {
  border: 2px solid lightblue;
  border-radius: 0px 00px 10px 10px;
}

/* De aca para abajo por ahora no lo usamos */

/* Boton temperatura minima */
.btn_min {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #000000;
  font-size: 10px;
  background: #aa7ce6;
  padding: 4px 8px 4px 8px;
  border: solid #1f628d 0px;
  text-decoration: none;
}

.btn_min:hover {
  background: #3cbefa;
  text-decoration: none;
}

/* Boton temperatura media */
.btn_med {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #000000;
  font-size: 10px;
  background: #399e29;
  padding: 4px 8px 4px 8px;
  border: solid #1f628d 0px;
  text-decoration: none;
}

.btn_med:hover {
  background: #3cbefa;
  text-decoration: none;
}

/* Boton temperatura maxima */
.btn_max {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #000000;
  font-size: 10px;
  background: #eb505d;
  padding: 4px 8px 4px 8px;
  border: solid #1f628d 0px;
  text-decoration: none;
}

.btn_max:hover {
  background: #3cbefa;
  text-decoration: none;
}

/* Boton precipitacion */
.btn_pre {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #000000;
  font-size: 10px;
  background: #7ca3e6;
  padding: 4px 8px 4px 8px;
  border: solid #1f628d 0px;
  text-decoration: none;
}

.btn_pre:hover {
  background: #3cbefa;
  text-decoration: none;
}
